:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background: #fff;       
}
/* HEADER */

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-header{
    color: #2e2f42;
}

a.list-header{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;


    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
a.list-header:hover, a.list-header:focus{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.box-address{
    font-style: normal
}
.mail-tel{
    
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail-tel:focus,
.mail-tel:hover{
    color: #404bbf;
}
/* ПЕРВАЯ СЕКЦИЯ */
.studio{
        background-color: #2e2f42;        
}
.h-one{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;    
    background: #4d5ae5;
    
}
.button:focus, .button:hover{
        background: #404bbf;
}
/* ВТОРАЯ СЕКИЯ */
.portfolio-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.portfolio-h-three-info{
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ТРЕТЬЯ СЕКИЯ */
.contacts{
    background: #f4f4fd;    
}
.list-contacts{
    background-color: #FFFFFF
}

.contacts-h-two-team{
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.contacts-h-three-team{
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.contacts-info{
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* ЧЕТВЕРТАЯ СЕКИЯ */
.h-two-port{
    font-weight: 700;
    font-size: 36px;
    
    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}
.h-three-port{
    font-weight: 500;
    font-size: 20px;
    
    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.port-info{
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
}
/* ФУТЕР СЕКИЯ */
.box-footer{
    background: #2e2f42;
}
.logo-footer{
    font-weight: 700;
    font-size: 18px;
    
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.info-footer{
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}




